* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#register_body ,#login_body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bacground.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    border: 0.16rem solid black;
    border-radius: 1.3rem;
    background-color: aliceblue;
    box-shadow: 0.2rem 0.2rem 10rem   black;
    width: 22rem;
    padding: 1rem;
   
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0.0625rem 0.0625rem gray;
}

form {
    justify-content: space-around;
}

input {
    width: 90%;
    height: 1.7rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.3rem;
    border: 1px solid #ccc;

}

input[type="submit"] {
    background-color: orange;
    border-radius: 0.8rem;
    width: 100%;
    height: 3rem;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    box-shadow: 0.2rem 0.2rem 0.1rem gray;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkorange;
}

label {
    font-size: 1.5rem;
}

.message {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

@media (max-width: 500px) {
    .container {
        width: 80%;
        padding: 1rem;
    }
}